**
#ignore everything except the following files, they are used in the Dockerfile to build the fredboat image
!Dockerfile
!FredBoat.jar
!FredBoat/build/libs/FredBoat.jar
!Bootloader.jar
!Bootloader/build/libs/Bootloader.jar
!bootloader.json
!Bootloader/bootloader.json
!config.yaml
!FredBoat/config.yaml
