---
# For the ;;mal command
# Create an account on https://myanimelist.net/ and enter its login below
malUser:
malPassword:

token:
  # add your discord bot token below and remove the # (but keep two spaces in front of it)
  # find the token of your bot on https://discordapp.com/developers/applications/me
  # Optionally fill the other three tokens below in

  #beta: YourTokenHere

  production: 
  music:
  patron:

# Used by the ;;split and ;;np commands. Must be hooked up to the Youtube Data API
# add your google API keys in the brackets below, separated by commas if more than one, uncomment by removing the #
# how to get them: https://developers.google.com/youtube/registering_an_application

#googleServerKeys: [YourYoutubeAPIKey]
#googleServerKeys: [Key1, Key2]


# From https://cleverbot.io/
cbUser:
cbKey:


# Used for the ;;leet command
mashapeKey:


## Options below this are for developers only
# (or if you want to build the bot with passing tests)

# token of your test bot
# acquired in the same way your regular discord bot token was
testToken:

# guildId of your test guild
# channelId of a text channel on your test guild that the test bot can use as an output for various messages during the test phase
# you can access various discord Ids by right clicking stuff with enabled Developer Mode in your Discord Client (Settings -> Appearance)
# or using the ;;serverinfo and ;;getid commands with a running FredBoat already present in your guild
testGuildId:
testChannelId: