{
	"malPassword": null,
	"clientToken": T-8OLbxXnxutyDzx4dH1XV6gKEAzv4AC,
	"token": {
		"beta": MjY1NTgyMTczMDg2NTQ3OTcw.C1HGGQ.l6RqyLFnYVuS40t3Fssg2A1x3mU,
		"production": MjY1NTgyMTczMDg2NTQ3OTcw.C1HGGQ.l6RqyLFnYVuS40t3Fssg2A1x3mU,
		"music": MjY1NTgyMTczMDg2NTQ3OTcw.C1HGGQ.l6RqyLFnYVuS40t3Fssg2A1x3mU,
		"patron": MjY1NTgyMTczMDg2NTQ3OTcw.C1HGGQ.l6RqyLFnYVuS40t3Fssg2A1x3mU
	},
	"googleServerKeys": [
		
	],
	"cbUser": null,
	"cbKey": null,
	"mashapeKey": null
}
